<div class="overall-page">
  <div class="page-container">
    <div class="page">
    <h1>Before Start</h1>
    <img class="line-img" src="./assets/images/blue-line.png"> 
      <div class="content">
        <div class="left-container">
          <h4>Congratulations!</h4>
          <p>2-3 weeks before their official start date is a good time to start preparing, along with your HR Person, to
            ensure everything is in place for the new team member.
          </p>
          <p>The new employee will receive a message with an attached PDF file to welcome them and briefly explain about
            their first day at work.
          </p>
        </div>
        <div class="right-container">
          <div class="num">
            <div class="blue-circle">
              <h1>1</h1>
            </div>
            <div class="text">
              <h6>Discuss options with the HR person and <strong>Choose a Buddy</strong>. Hold a meeting with the Buddy
                to
                ask if they are
                willing to fill this role and to discuss what it means.
              </h6>
            </div>
          </div>
          <div class="num">
            <div class="blue-circle">
              <h1>2</h1>
            </div>
            <div class="text">
              <h6>Adjust the <strong>onboarding first week agenda</strong> and the full onboarding plan using the plan
                template:</h6>
              <ul>
                <li>Consult with your HR person</li>
                <li>Try to schedule meetings in advance</li>
              </ul>
            </div>
          </div>
          <div class="num">
            <div class="blue-circle">
              <h1>3</h1>
            </div>
            <div class="text">
              <h6>After they sign the contract, schedule time in your calendar for the following meetings with your new
                employees:
              </h6>
              <ul>
                <li>Welcome meeting on the first day</li>
                <li>Role Introduction meeting</li>
                <li>Weekly meeting</li>
              </ul>
            </div>
          </div>
          <div class="num">
            <div class="blue-circle">
              <h1>4</h1>
            </div>
            <div class="text">
              <h6>Contact your new employee: call or send a nice short text message to congratulate them on their
                decision
                and express your expectation.
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
