ul {
  margin: 2px;
}

.first-week-icon-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 170px;
}

.first-week-icon-flex h2 {
  font-size: 22px;
  color: #38afdc;
}

.first-week-icon-circle {
  /* background: #43a1c4; */
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #ebebeb;
  transition: all 0.3s;
}

.first-week-icon-circle.clickable {
  cursor: pointer;
}

.first-week-icon-circle img {
  width: 70%;
}

.active-circle {
  background: #47addd6e;
}

.first-week-icon-circle.clickable:hover:not(.active-circle) {
box-shadow: 0 0 16px 0 #47aedd;
}

.first-week-p {
  font-size: 22px;
  margin-bottom: 30px;
}

.first-week-finish {
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.first-week-finish h2, .first-week-finish h1,
.first-week-finish a {
  font-size: 40px;
}

.first-week-finish h1 {
  margin-top: 30px;
}

.logo {
  height: 130px;
  position: fixed;
  bottom: 60px;
  left: 30px;
}

.text-box {
  margin: 50px auto 0;
  width: 90%;
  height: auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  position: relative;
  box-shadow: 1px 1px 6px 0px #0000005e;
  animation: scale 0.6s;
}

@media (max-height: 850px) {
  .blue-circle {
    width: 30px;
    height: 30px;
  }
}
