<!-- <div class="overall-page"> -->
<!-- <div class="page-container"> -->
<!-- <div class="page"> -->
<h2 *ngIf="page == 1">Allflex Global Onboarding Resources Site</h2>
<img class="line-img" src="./assets/images/blue-line.png" *ngIf="page == 1">
<p *ngIf="page == 1" style="font-size: 20px;
      padding: 0 40px;">
  The Global Onboarding Resources Site provides new Allflex team members the knowledge needed to successfully
  integrate with the business, as well as expose and share existing Animal Health colleagues to Allflex
  portfolio, products, and solutions.
  The site is categorized into two main sections:
</p>
<div *ngIf="page != 4" class="first-week-icons-cont">
  <div class="first-week-icon-flex">
    <h2>asdasdsa</h2>
    <div class="first-week-icon-circle">
      <img src="../../assets/images/settingg.png">
    </div>
  </div>
  <div class="first-week-icon-flex">
    <h2>asdasdsa</h2>
    <div class="first-week-icon-circle">
      <img src="../../assets/images/settingg.png">
    </div>
  </div>
</div>
<p class="first-week-p" *ngIf="page == 2">The Learning Pathways includes a series of self-guided learning courses divided into three main
  business areas
  representing the Allflex portfolio solutions: Monitoring, Milking Automation, and Identification. Each learning
  pathway includes a focus area module with the capability for learners to self-track their course completion.
</p>
<p class="first-week-p" style="margin: 0 auto;" *ngIf="page == 2">Since many of the courses on this site are tracked by the Learning Management System, you can
  receive completion
  reports of the team members by reaching out to the Allflex Global Customer Experience Team</p>
<p class="first-week-p" *ngIf="page == 3">
  The Allflex Academy has global training resources for Allflex Livestock Intelligence Solutions including a variety of
  tutorials, videos, and presentations. This resource is recommended for colleagues who are already familiar with
  Allflex and are interested in learning more about our products and solutions
</p>
<div class="first-week-finish" *ngIf="page == 4">
  <h2>If you have any questions, please reach out to</h2>
  <a href="mailto:">globalcxteam@merck.com</a>
  <h1>Good luck!</h1>
</div>
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
