<!-- <div class="overall-page"> -->
<!-- <div class="page-container"> -->
<!-- <div class="page"> -->
<h2>What is a Professional Onboarding Agenda?</h2>
<img class="line-img" src="./assets/images/blue-line.png">
<div class="content">
  <div class="left-container">
    <p>The professional onboarding agenda is an organized <strong>list of activities that sets clear expectations for of the
      learning journey</strong> the new team member needs to accomplish and when, during the onboarding process.</p>
    <!-- <p>During this day, our new employees will be busy with starting a new job and getting to know their
            surroundings.
            Help them perform all the logistics quickly and efficiently.</p> -->
  </div>
  <div class="right-container">
    <h2 style="color: #38afdc;
    position: relative;
    top: -30px;">How to Create a Professional Onboarding Agenda?</h2>
    <div class="num" *ngIf="page == 1">
      <div class="blue-circle">
        <h1>1</h1>
      </div>
      <h6><strong>Create a list of topics</strong> for the training agenda based on the role the new team member will fulfill</h6>
    </div>
    <div class="num" *ngIf="page == 1">
      <div class="blue-circle">
        <h1>2</h1>
      </div>
      <h6><strong>Adjust the agenda according to the knowledge and experience</strong> of the new team member. A new team member with a
        farming background or relevant knowledge from the industry will most likely need a shorter onboarding process
      </h6>
    </div>
    <div class="num" *ngIf="page == 1">
      <div class="blue-circle">
        <h1>3</h1>
      </div>
      <h6>Add <strong>global learning materials</strong> to the agenda by using units from the Allflex Global Onboarding Resources Site.
        This will provide the new team member with the foundational necessary knowledge they need
      </h6>
    </div>
    <div class="num" *ngIf="page == 2">
      <div class="blue-circle">
        <h1>4</h1>
      </div>
      <h6>Include <strong>local learning materials</strong> to the agenda. This include relevant learning units of your region such as
        competition in the local market, common type of farms, and relevant internal regional processes</h6>
    </div>
    <div class="num" *ngIf="page == 2">
      <div class="blue-circle">
        <h1>5</h1>
      </div>
      <h6><strong>Frame the timeline for the training.</strong> Define when the new team member should be able to successfully apply all
        skills and knowledge required in the training</h6>
    </div>
    <div class="num" *ngIf="page == 2">
      <div class="blue-circle">
        <h1>6</h1>
      </div>
      <h6><strong>Set the training KPI’s</strong> per each month. For example: a ‘Completed’ status in all the theoretical learning units
        on the first month, and successfully accomplished practical tasks on the second month. </h6>
    </div>
  </div>
</div>
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
