<div class="overall-page">
  <div class="page-container flex">
    <div class="arrow" [ngStyle]="{'visibility': page != 1 ? 'visible' : 'hidden'}">
      <img src="./assets/images/prev.svg" class="prev" (click)="prevPage()">
    </div>
    <div class="page first-page" *ngIf="page == 1">
      <h1>Deepen The Knowledge</h1>
      <img class="line-img" src="./assets/images/blue-line.png">
      <div class="content">
        <div class="left-container">
          <h4>Working remotely has become part of our culture!</h4>
          <p>Some employees might work remotely during their entire time with the company.</p>
          <p>A remote employee doesn’t get to “feel” the workplace and you do not get the chance to personally check
            their
            wellbeing, especially on their first few days. Here’s some quick tips to keep in mind when you onboard
            remote
            employees.</p>
        </div>
        <div class="right-container">
          <h3>Remote Onboarding- Quick Tips</h3>
            <div class="point">
              <div class="check"></div>
              <p>Follow the detailed planning of the onboarding plan.</p>
            </div>
            <div class="point">
              <div class="check"></div>
              <p>Prepare your team to be available for the new employees, ensuring they feel connected.</p>
            </div>
            <div class="point">
              <div class="check"></div>
              <p>Confirm all meetings for their first week are pre-set.</p>
            </div>
            <div class="point">
              <div class="check"></div>
              <p>Remember to check on and get feedback from the new employees at least once a day. Make sure their
                onboarding
                plan is followed.</p>
            </div>
            <div class="point">
              <div class="check"></div>
              <p>Respond quickly, especially when working in different time zones.</p>
            </div>
            <div class="point">
              <div class="check"></div>
              <p>Don’t skip the buddy part! Assigning a buddy and providing close team support has great significance to
                remote employees.</p>
            </div>
            <div class="point">
              <div class="check"></div>
              <p>The welcome kit is important. Make sure it is sent to them with the IT equipment.</p>
            </div>
            <div class="point">
              <div class="check"></div>
              <p>If possible, arrange an in-person meeting at least once during their onboarding period so that they get
                to
                know their teammates in-person. If not possible, make sure routine video team meetings are set with the
                entire
                team.</p>
            </div>
        </div>
      </div>
    </div>
    <div class="page second-page" *ngIf="page == 2">
      <h1>Tools Templated & Checklists- Quick Access</h1>
      <img class="line-img" src="./assets/images/blue-line.png">
      <!-- <div class="screen"> -->
        <ul class="links">
          <li><a href="">Onboarding plan</a></li>
          <li><a href="">Welcome e-mail message</a></li>
          <li><a href="">New employee e-learning units</a></li>
          <li><a href="">To do checklists</a></li>
        </ul>
      <!-- </div> -->
    </div>
    <div class="arrow" [ngStyle]="{'visibility': page != 2 ? 'visible' : 'hidden'}">
      <img src="./assets/images/next.svg" class="next" (click)="nextPage()">
    </div>
  </div>
</div>
